<html>
<head></head>
<body>

	<p> <%= @@answer if @@answer %> </p>

	<p>	<% "The secret number is #{@@rando}" %> </p>

	<form>
		<input type='text' name='guess' />
		<input type='submit' value='Guess!' />
	</form>

</body>
</html>