<html>
<head>
	<style>
		<% if guess == number %>
			p {background: #0f0; color:#fff;}
		<% elsif  (guess-number).abs < 3 %>
			p {background: #a00;}
		<% elsif guess != number %>
			p {background: red;}
		<% end %>
	</style>
</head>
<body>
	<p>
		the guess is <%= message %>
	</p>
	<p>
	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!" />
	</form>
</body>
</html>